.idea
venv
identity.py
python/__pycache__/*
dev-env/.vagrant/*
dev-env/dev-box/*



dev-env/quick-api.box

api/JDBC/\.mvn/*
api/JDBC/mvnw
api/JDBC/mvnw.cmd
api/JDBC/target/*
api/JDBC/\.idea/*
api/JDBC/JDBC.iml
frontend/frontend.iml