.idea
venv
identity.py
python/__pycache__/*
dev-env/.vagrant/*

staging/*



dev-env/quick-api.box

api/JDBC/\.mvn/*
api/JDBC/mvnw
api/JDBC/mvnw.cmd
api/JDBC/target/*
api/JDBC/\.idea/*
api/JDBC/JDBC.iml

api/JDBC_T/\.mvn/*
api/JDBC_T/mvnw
api/JDBC_T/mvnw.cmd
api/JDBC_T/target/*
api/JDBC_T/\.idea/*
api/JDBC_T/JDBC_T.iml

api/test/\.mvn/*
api/test/mvnw
api/test/mvnw.cmd
api/test/target/*
api/test/\.idea/*
api/test/test.iml

frontend/frontend.iml