.idea
venv
identity.py
python/__pycache__/*
dev-env/.vagrant/*
dev-env/dev-box/*



dev-env/quick-api.box

api/employees/\.mvn/*
api/employees/mvnw
api/employees/mvnw.cmd
api/employees/target/*
api/employees/\.idea/*
api/employees/employees.iml
frontend/frontend.iml